<?xml version="1.0"?>

<config>
    <modules>
        <Aws_Study>
            <version>0.0.2</version>
        </Aws_Study>
    </modules>
    <global>
        <models>
            <study>
                <class>Aws_Study_Model</class>
            </study>
        </models>
        <blocks>
            <study>
                <class>Aws_Study_Block</class>
            </study>
        </blocks>
        <helpers>
            <study>
                <class>Aws_Study_Helper</class>
            </study>
        </helpers>
    </global>
</config>